apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - postgres-deployment.yaml
  - backend-deployment.yaml
  - frontend-deployment.yaml
  - ingress.yaml

labels:
  - pairs:
      app.kubernetes.io/name: ai-incident-assistant
      app.kubernetes.io/part-of: cloud-native-platform

namespace: default
