apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base
  - namespace.yaml
  - ingress.yaml

commonLabels:
  environment: dev
  managed-by: argocd
  tier: application

images:
  - name: registry.digitalocean.com/ai-incident-assistant/backend
    newTag: dev-latest
  - name: registry.digitalocean.com/ai-incident-assistant/frontend
    newTag: dev-latest

replicas:
  - name: backend
    count: 1
  - name: frontend
    count: 1
  - name: postgres
    count: 1

configMapGenerator:
  - name: backend-config
    behavior: merge
    literals:
      - NODE_ENV=development

labels:
- pairs:
    environment: dev
    managed-by: argocd
