apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod

resources:
  - ../../base
  - namespace.yaml
  - ingress.yaml

commonLabels:
  environment: production
  managed-by: argocd

images:
  - name: registry.digitalocean.com/ai-incident-assistant/backend
    newTag: latest
  - name: registry.digitalocean.com/ai-incident-assistant/frontend
    newTag: latest

patches:
  - path: patch-replicas.yaml
  - path: patch-resources.yaml
